<head>
3 <title>Team details</title>
4 </head>
5 <body>
6 <h1>About Us: Team 31 #</h1>
7
8 <!-- Team Member 1 -->
9 <h2>Team Member 1 Charles yijun Shen</h2>
10 <p>Team Member 1 live in China now. keep a hamster. whats app number is +8613722788222</p>
11
12 <!-- Team Member 2 -->
13 <h2>Team Member 2 Ansh</h2>
14 <p>Team Member 2 Currently living in India, looking to keep a cat, nice to meet you guys</p>
15
16
17 <!-- Team Member 3 -->
18 <h2>Team Member 3 Name</h2>
19 <p>Team Member 3 details</p>
20
21 <!-- Team Member 4 -->
22 <h2>Team Member 4 Name</h2>
23 <p>Team Member 4 details</p>
24 </body>
25 </html>
